/* Layout index : 2 blocs */
.home-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Bloc texte */
.card-project {
  width: 420px;
  max-width: 90%;
  font-size: 18px;
  line-height: 1.5;
}

/* Bloc image */
.card-image {
    background: white;
    width: 350px;
    height: 350px;
    background: transparent;
    box-shadow: none;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  border-radius: 20px;
  display: block;
}
